@import './partials/variables';
@import './partials/mixin';
@import './partials/typography';
//@use './partials/typography' as *;



.navBar {
  display: flex;
  flex-direction: column;
  background-color: $black;
  max-height: 5rem;
  max-width: 100%;
  font-weight: 100;
  align-items: center;
  box-sizing: content-box;
  @include tablet {
    flex-direction: row;
    height: 5rem;
    max-width: 100%;
  }

  @include desktop {
    padding-left: $desktop-spacing;
  }

  &__links a{
    text-decoration: none;
    color: $white;
  }

    &__logo {
      @include flexcenter;
      height: 1.875rem;
      @include tablet {
        margin-left: $tablet-spacing;
        justify-content: center;
        height: 10vh;
        padding-bottom: 0.625rem;
      }
      @include desktop {
        margin-left: 0;
      }

      & a {   
         margin-top: 1.25rem;
      }
    }

  &__links {
    @include flexcenter;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    @include tablet {
      margin-left: 5rem;
      justify-content: left;
      padding-left: 0;
      padding-right: 0;
      width: 4.688rem;
      @include tabdef;
    }
    @include desktop {
      & h2:nth-child(2) {
      padding-left: 0
      }
    }

    & h2{
    @include flexcenter;
    width: 50%;
    margin-top: 0;
    padding-bottom: 0.5rem;
    @include tablet {
      @include tabdef;
      padding: 1.563rem;
    }

    &:nth-child(1) {
        
        margin-right: 3.5rem;
    }

    &:nth-child(2) { 
      padding-left: 0.625rem;
      padding-right: 0;
      padding-right: 0.625rem;
      font-weight: 100;
      border-bottom: 0.25rem solid white;
    }
  }
  }
   @include mobdef;
  }
.hero {
  font-family: 'avenir-bold';
  @include flexcenter;
  flex-direction: row;
  width: 100%;
  max-height: auto;
  position: relative;
  justify-content: left;
  align-items: center;
  

  &__img {
    background-image: url("../Assets/Images/roger-harris-Sj_FOinWBPI-unsplash.jpg");
    width: 100%;
    height: 29.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    @include tablet {
      height: 41.875rem;
    }
  }   

  &__overlay {
    width: 100%;
    height: 29.5rem;
    position: absolute;
    background-color: $black;
    opacity: 50%;
    
    @include tablet {
      height: 41.875rem;
    }
  }

  &__title {
    @include mobmarg;
    color: $white;
    position: absolute;
    font-size: 1rem;
    max-width: 100%;
    align-self: flex-start;
    margin-top: 4rem;
    @include tablet {
      margin-left: $tablet-spacing;
    }
    @include desktop {
      margin-left: $desktop-spacing;
      margin-top: 10.25rem;
    }
  }
  &__content {
    position: absolute;
    color: $white;
    @include mobmarg;
    font-size: 2.2rem;
    top: 6.25rem;
    height: 10.25rem;
    width: 18rem;
    @include tablet {
      margin-left: 0;
    }
    
    &__singers {
    position: absolute;
    margin-top: 0%;
    @include tablet{
      font-size: 4.2rem;
      width: 40rem;
      font-family: 'avenir-demi';
      margin-left: $tablet-spacing;
      
      @include desktop {
        margin-top: 9.375rem;
        font-size: 3.3rem;
        width: 31.25rem;
        margin-left: 0;
        
      }
    }

      &--play {
        margin-top: 12.5rem;
        width: 100%;
        height: 6.25rem;
        border-radius: 4px;

        @include tablet {
          margin-top: 17.5rem;
          width: 27.25rem;
          height: 10rem;
          margin-left: $tablet-spacing;
        }
        @include desktop {
          position: absolute;
          margin-top: 10rem;
          margin-left: 34.375rem;
          
        }
      }
  }
    @include desktop {
      margin-left: 0;
      margin-left: $desktop-spacing;
      font-size: 3.2rem;
    }    
  }
  @include mobdef 
}

.tickets {
  @include mobmarg;
  @include tablet {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  @include desktop {
    
  }

  
  &__justTitles {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding-right: 0.625rem;
    @include titles;
    @include mobile{
      display: none;
    }

    @include desktop {
      margin-left: 29.063rem;
      width: 35rem;
    }

    &--justVenue {
      padding-left: 3.75rem;
    }

    &--justLocation {
      padding-right: 35px;
      
    }
    
  }

  &__firstShow {
    border-bottom: 1px solid $silver;
    margin-bottom: 1rem;
    position: relative;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      justify-content: space-between;
    }  
    @include desktop {
      margin-left: 29.063rem;
      margin-right: 11.25rem;
      margin-top: 1.875rem;
    }
  }

  &__secondShow {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: justify;
    }
    @include desktop {
      margin-left: 29.063rem;
      margin-right: 11.25rem;
    }
  }

  &__thirdShow {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      margin-left: 29.063rem;
      margin-right: 11.25rem;
    }
  }

  &__forthShow {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      margin-left: 29.063rem;
      margin-right: 11.25rem;
    }
  }

  &__fifthShow {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      margin-left: 29.063rem;
      margin-right: 11.25rem;
    }
  }

  &__sixthShow {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      margin-left: 29.063rem;
      margin-right: 11.25rem;
    }
  }

  &__show {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-family: 'avenir-bold';
  font-size: 2.5rem;
  @include desktop {
    margin-left: 11.25rem;
    margin-top: 3rem;
    position: absolute
  }
  }

  &__mainDateTitle {
    @include titles;
    @include tablet {
      display: none;
    }
    
  }

  &__mainVenueTitle {
    @include titles;
    @include tablet {
      display: none;
    }
    
  }

  &__mainLocationTitle {
    @include titles;
    @include tablet {
      display: none;
    }
  }

  &__dateTitle {
    @include titles;
    @include tablet {
      display: none;
      
    }
  }

  &__date {
    @include date;
    @include tablet {
      margin-top: 1.25rem;
      width: 8.438rem;
      margin-left: 0;
    }
  }

  &__venueTitle {
    @include titles;
    @include tablet {
      display: none
    }
  }

  &__venue {
    @include venue;
    @include tablet {
      margin-top: 1.25rem;
      width: 6.25rem
    }
  }

  &__locationTitle {
    @include titles;
    @include tablet {
      display: none
    }
  }

  &__local {
    @include local;
    @include tablet {
      margin-top: 1.25rem;
    }
  }

  &__buyTickets {
    @include ticketButton;
    @include tablet {
      width: 12.5rem;
    }
    @include desktop {
      width: 10rem;
    }
  }
}


.footer {
  color: $white;
  background-color: $black;
  padding-left: 0.625rem;
  padding-top: 1.25rem;
  @include tablet {
    padding: 1.5rem;
  }

  &__call {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop {
      display: flex;
      justify-content: flex-start;

  &--logo {
    position: absolute;
    right: 11.25rem;
    align-items: flex-end;
  }

  &--title {
     margin-right: 3.125rem;
    }
  }
      
  &--title h2 {
    font-size: 2.5rem;
    font-family: 'avenir-demi';
  }

  &--items {
    display: flex;
    margin-left: 0.625rem;
    width: 7.5rem;
    justify-content: space-between;
    margin-bottom: 2.375rem;
    height: 1.375rem;
    @include tablet {
      margin-bottom: 0;
      padding-right: 6.875rem;
    }
    @include desktop {
      margin-left: 1.75rem;
    }
  }

  &--logo {
    @include mobile {
      display: none;
    }
    @include tablet {
      justify-content: center;
      align-items: center;
    }
  }
  }

  &__info {
    @include tablet {
      display: flex;
      flex: row;
      justify-content: space-between;
    }

  &__cards {
    @include mobfoot;
    @include mobdef;
    @include footer;
    font-size: 0.875rem;
    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 0.875rem;
    }

  &--copyright {
    font-size: 0.85rem;
    @include mobile {
    width: 15rem;
    }
    padding-bottom: 1.875rem;
    & p:nth-child(1) {
      margin-bottom: 0;
    }
    & p:nth-child(2) {
      margin-top: 0;
      @include tablet {
        justify-content: left;
      }
    }
  }
  }
  @include desktop {  
  width: 50rem;
  margin-top: 1.438rem;
  }
  }
  @include desktop {
  padding: 0.938rem 0;
  @include deskpadding;
  }   
}