@import './partials/variables';
@import './partials/mixin';
@import './partials/typography';
//@use './partials/typography' as *;





body {
  font-family: 'avenir';
}

.navBar {
  display: flex;
  flex-direction: column;
  background-color: $black;
  max-height: 80px;
  max-width: 100%;
  font-weight: 100;
  &__name a, &__links a{
    text-decoration: none;
    color: $white;
  }
  @include mobile {
    
    &__name {
        @include flexcenter;
        max-height: 30px;

      & a {
          margin-top: 20px
      }
    }

    &__links {
      @include flexcenter;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    
    
      & h2{
      @include flexcenter;
      width: 160px;
      
      margin-top: 0;
      padding-bottom: 8px;
      
      }

      &__1 {
      border-bottom: 4px solid white
      }
    
    }

  }
   @include mobdef;
  }

  .hero {
  
    @include flexcenter;
    width: 100%;
    max-height: auto;
    position: relative;

    @include mobile {
      &__img {
      width: 100%;
      max-height: 183px;
      background-size: cover;
      
      }
      &__overlay {
        width: 100%;
        height: 183px;
        position: absolute;
        background-color: $black;
        opacity: 50%;
      }
      &__singers {
          @include marg;
          color: $white;
          position: absolute;
          font-size: 24px;
          padding-right: 85px;
          
        }
  }
  @include mobdef 
}

.about-band {
  @include flexcenter;
  flex-direction: column;

  @include mobile {

    width: 100%;
    max-height: auto;
    

    &__title {
      @include flexcenter;
      width: 288px;
      justify-content: flex-start;
      margin-top: 32px;
      margin-bottom: 24px
      
    }

    &__img {
      @include marg;
      width: 288px;
      max-height: 183px;

      & img {
        width: 100%;
       max-height: 183px;
      }
    }
  }
}
.news {
  display: flex;
  flex-wrap: wrap;
  @include marg;
  @include mobile {
    &__quot {
      font-weight: 600;
      margin-top: 24px;
      margin-bottom: 16px;
    }

    &__singers {
      margin-top: 24px;
      margin-bottom: 8px;
    }
  }
}

.gallery {
  @include marg;
  @include mobile {
  &__pics {
    width: 100%;
    & img {
      width: 100%;
      height: 145px;
      margin-bottom: 16px;
    }
  }
  }
}
.footer {
  color: $white;
  background-color: $black;
  
  @include mobile {

    padding-left: 10px;
    padding-top: 20px;
    &__title h2 {
      font-size: 30px;
      font-family: 'avenir';
    }
  }
}