@font-face {
  font-family: "avenir";
  src: url("../../Assets/Font/AvenirNextProLT/avenir-regular.otf");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "avenir";
}

.navBar {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  max-height: 80px;
  max-width: 100%;
  font-weight: 100;
}
.navBar__name a, .navBar__links a {
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 360px) {
  .navBar__name {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30px;
  }
  .navBar__name a {
    margin-top: 20px;
  }
  .navBar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
  }
  .navBar__links h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin-top: 0;
    padding-bottom: 8px;
  }
  .navBar__links__1 {
    border-bottom: 4px solid white;
  }
}
.navBar h1 {
  font-size: 24px;
  line-height: 32px;
}
.navBar h2 {
  font-size: 14px;
  line-height: 22px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: auto;
  position: relative;
}
@media (max-width: 360px) {
  .hero__img {
    width: 100%;
    max-height: 183px;
    background-size: cover;
  }
  .hero__overlay {
    width: 100%;
    height: 183px;
    position: absolute;
    background-color: #323232;
    opacity: 50%;
  }
  .hero__singers {
    margin: 0 16px;
    color: #FFFFFF;
    position: absolute;
    font-size: 24px;
    padding-right: 85px;
  }
}
.hero h1 {
  font-size: 24px;
  line-height: 32px;
}
.hero h2 {
  font-size: 14px;
  line-height: 22px;
}

.about-band {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 360px) {
  .about-band {
    width: 100%;
    max-height: auto;
  }
  .about-band__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    justify-content: flex-start;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .about-band__img {
    margin: 0 16px;
    width: 288px;
    max-height: 183px;
  }
  .about-band__img img {
    width: 100%;
    max-height: 183px;
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  margin: 0 16px;
}
@media (max-width: 360px) {
  .news__quot {
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .news__singers {
    margin-top: 24px;
    margin-bottom: 8px;
  }
}

.gallery {
  margin: 0 16px;
}
@media (max-width: 360px) {
  .gallery__pics {
    width: 100%;
  }
  .gallery__pics img {
    width: 100%;
    height: 145px;
    margin-bottom: 16px;
  }
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
}
@media (max-width: 360px) {
  .footer {
    padding-left: 10px;
    padding-top: 20px;
  }
  .footer__title h2 {
    font-size: 30px;
    font-family: "avenir";
  }
}/*# sourceMappingURL=main.css.map */